@import '@fontsource-variable/inter';
@import '@fontsource-variable/geist-mono';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: -webkit-fill-available;
}

body {
  @apply bg-main dark:bg-main-dark bg-cover bg-center bg-no-repeat dark:text-white selection:bg-rose-500 selection:text-white;
  background-attachment: fixed;
  min-height: 100dvh;
  min-height: -webkit-fill-available;
  background-size: cover;
}

@media (max-width: 768px) {
  body {
    @apply bg-main dark:bg-main-dark bg-cover bg-center bg-no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
}
